table {
  width: 100%;
  margin-bottom: 15px;
  background: white;
  border-collapse: collapse; }
  table thead th {
    position: relative;
    padding: 5px 0;
    cursor: pointer; }
    table thead th.active {
      background: #f8e3ff; }
      table thead th.active:after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        right: 10px;
        width: 5px;
        height: 5px;
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(-45deg); }
    table thead th.reverse:after {
      top: 11px;
      transform: rotate(135deg); }
  table tr {
    padding: 5px 0;
    border-top: 1px solid #dddddd; }

@media screen and (max-width: 900px) {
  td:last-child, th:last-child {
    display: none; } }

/*# sourceMappingURL=table.component.css.map */
