<table>
  <thead>
  <tr>
    <th *ngFor="let h of tableMap"
        [ngClass]="{'active': h === sortedBy || (h === 'address' && sortedBy === 'city'), 'reverse': reverse}"
        (click)="sortBy(h)"
    >{{h | uppercase}}</th>
  </tr>
  </thead>
  <tr *ngFor="let user of users | sortBy:{sortedBy: sortedBy, reverse: reverse}">
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.department}}</td>
    <td>{{user.city}}, {{user.street}}</td>
  </tr>
</table>
