.filter {
  min-height: 100px;
  padding: 10px 10px 30px;
  background: white; }
  .filter ul li {
    text-align: left; }
    .filter ul li input {
      margin-right: 5px; }
  .filter h3 {
    text-transform: uppercase; }

/*# sourceMappingURL=filter.component.css.map */
