<div class="filter">
  <h3>{{data.filterType}}</h3>
  <ul>
    <li *ngFor="let value of data.values">
      <label>
        <input type="checkbox"
             (change)="filterChecked($event)"
               [attr.data-value]="value"
        >{{value}}
      </label>
      ({{data.lengths[data.values.indexOf(value)]}})
      </li>
  </ul>
</div>
