.server-error {
  padding: 30px;
  background: red; }
  .server-error .error-text {
    color: white;
    font-size: 18px;
    text-align: center; }

.main-wrapper {
  margin: 0 auto;
  max-width: 1200px; }
  .main-wrapper h2 {
    width: 100%;
    text-align: left; }
  .main-wrapper .filters-wrapper {
    width: 100%;
    display: flex; }
    .main-wrapper .filters-wrapper > app-filter {
      margin: 10px 5px 15px 5px;
      flex-grow: 1; }

@media screen and (max-width: 900px) {
  .filters-wrapper {
    flex-direction: column; } }

/*# sourceMappingURL=app.component.css.map */
