<div class="server-error" *ngIf="errorText !== ''">
  <p class="error-text">{{errorText}}</p>
</div>

<div class="main-wrapper">
  <h2>Filters</h2>
  <div class="filters-wrapper">
    <app-filter (filterValue) = "onFilter($event)" [data]="filteredUsers | filterValues:'gender'"></app-filter>
    <app-filter (filterValue) = "onFilter($event)" [data]="filteredUsers | filterValues:'department'"></app-filter>
    <app-filter (filterValue) = "onFilter($event)" [data]="filteredUsers | filterValues:'city'"></app-filter>
  </div>
  <h2>Table</h2>
  <app-table [users]="filteredUsers"></app-table>
</div>

