.server-error
  padding: 30px
  background: red
  .error-text
    color: white
    font-size: 18px
    text-align: center

.main-wrapper
  margin: 0 auto
  max-width: 1200px
  h2
    width: 100%
    text-align: left
  .filters-wrapper
    width: 100%
    display: flex
    > app-filter
      margin: 10px 5px 15px 5px
      flex-grow: 1

@media screen and (max-width: 900px)
  .filters-wrapper
    flex-direction: column
